*{
    margin: auto;
    padding: auto;
    font-family: century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Image/rm218-bb-07.jpg);
    height: 120vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 16px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #f78914;
    color: #fff;

}

ul li.active a{
    background-color: #f78914;
    color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-25%, -25%);
}

.title{
    color: #fff;
    font-size: 23px;
}

.image img {
    width: 20rem;
    margin-top: 50px;
    animation: float 3s linear infinite;

}

@keyframes float {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3.5rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

.button{
    position: absolute;
    top: 75%;
    right: 59%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.0 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover{
    background-color: #f78914;
    color: #fff;
}

.sub-menu{
    display: none;
    top: 6%;
    position: relative;
}

.sub-menu ul{
    position: absolute;
}

.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(0,45,117);
    margin-top: 12px;
    margin-left: -8px;
}

.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}

.main ul li:hover .sub-menu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #f78914;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;

}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="Submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #f78914;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[typy="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover{
    color: #ffc107;
}
*::selection {
    color: #000;
    background-color: red;
}
section {
    height: 100vh;
    padding: 7.5rem 9% 2rem;
}